@mixin centerDiv() {
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #LoginForm,
  #RegisterForm {
    width: auto;
  }
}

#midMSG {
  @include centerDiv();
}

#Qs {
  @include centerDiv();
  #img {
    width: 70%;
    height: auto;
  }
  margin-bottom: 120px;
  width: 70%;
}

#qstn {
  width: 50vw;
  height: 20vh;
}
