@mixin centerDiv {
  margin: auto;
  text-align: center;
}

#questionArea {
  @include centerDiv();

  #qstn {
    border: solid;
    outline: none;
    &::placeholder {
      text-align: center;
    }
  }
}

#message {
  h3 {
    transition: 1s;
  }
  @include centerDiv();
}

#Qs {
  @include centerDiv();
  img {
    width: 70vw;
    height: 50vh;
    border-radius: 5px;
  }
}
