@mixin centerDiv {
  margin: auto;
  text-align: center;
}

hr {
  background: black;
  height: 3px;
}

#questionArea {
  @include centerDiv();
  #qstn {
    border: solid;
    outline: none;
    &::placeholder {
      text-align: center;
    }
  }
}

#delAns {
  color: #e84342;
}

#delAns:hover {
  text-decoration: underline;
  cursor: pointer;
}

#message {
  h3 {
    transition: 1s;
  }
  @include centerDiv();
}

#delete:hover {
  cursor: pointer;
  width: 50px;
}

#ans {
  width: 100%;
}

#ans:hover {
  cursor: pointer;
}

#textA {
  border: 2px solid;
  padding: 20px;
  width: 100%;
  resize: both;
  overflow: auto;
}

#img {
  border-radius: 2px;
  box-shadow: 0 0 15px #343436;
  filter: brightness(1.1);
  height: 150px;
  width: 200px;
  margin: 0 auto;
  height: auto;
  max-width: 70%;
  max-height: 50vh;
  display: block;
}

.close {
  background-repeat: no-repeat;
  bottom: 418px;
  display: none;
  height: 32px;
  left: 462px;
  margin-top: -32px;
  position: relative;
  width: 32px;
}
.expand {
  bottom: 125px;
  margin-left: -32px;
  margin-right: 16px;
  pointer-events: none;
  position: relative;
}

.answerElement {
  display: none;
}

.showToggle {
  color: darkcyan;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

#ta {
  white-space: pre-wrap;
  width: 100%;
  @include centerDiv();
}

#noQ {
  @include centerDiv();
}

#lgot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  font-size: 3.5vh;
  background-color: red;
  color: white;
  text-align: center;
}

#Qs {
  @include centerDiv();
  margin-bottom: 100px;
  width: 70%;
  // border: 1px solid black;
  border-radius: 2px;
}

#qtext {
  @include centerDiv();
  width: 70vw;
  word-wrap: break-word;
}
#fle {
  text-decoration: underline;
}

#fle:hover {
  cursor: pointer;
}

#mdfd {
  white-space: pre-wrap;
}

#mdfd:hover {
  cursor: pointer;
}

input[type="file"] {
  @include centerDiv();
  // border-radius: 5px;
  width: 28vw;
  &:hover {
    cursor: pointer;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  #anc {
    font-size: 3vh;
    color: #3498db;
  }
  #anc:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  background-color: red;
  text-align: center;
}

#paginate {
  color: blue;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

#pagination:hover {
  cursor: pointer;
  text-decoration: underline;
}

#pending {
  @include centerDiv();
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  #questionArea {
    @include centerDiv();
    #qstn {
      @include centerDiv();
      width: 100%;
    }
  }

  input[type="file"] {
    border: 1px solid black;
    @include centerDiv();
    &:hover {
      cursor: pointer;
    }
  }
}
