@mixin centerDiv {
  margin: auto;
  text-align: center;
}

hr {
  background: black;
  height: 3px;
}

#questionArea {
  @include centerDiv();
  #qstn {
    border: solid;
    outline: none;
    &::placeholder {
      text-align: center;
    }
  }
}

#message {
  h3 {
    transition: 1s;
  }
  @include centerDiv();
}

img {
  border-radius: 5px;
}

.answerElement {
  display: none;
}

.showToggle {
  color: darkcyan;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
#noQ {
  @include centerDiv();
}

#lgot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  font-size: 3.5vh;
  background-color: red;
  color: white;
  text-align: center;
}

#Qs {
  @include centerDiv();
  margin-bottom: 100px;
  width: 70%;
  // border: 1px solid black;
  border-radius: 2px;
  #img {
    width: 100%;
    height: 35vh;
  }
}

#qtext {
  @include centerDiv();
  width: 70vw;
  word-wrap: break-word;
}

input[type="file"] {
  @include centerDiv();
  &:hover {
    cursor: pointer;
  }
}

#pending {
  @include centerDiv();
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  #Qs {
    #img {
      width: 100%;
      height: 40vh;
    }
  }

  #questionArea {
    @include centerDiv();
    #qstn {
      @include centerDiv();
      width: 100%;
    }
  }

  input[type="file"] {
    border: 1px solid black;
    @include centerDiv();
    &:hover {
      cursor: pointer;
    }
  }
}
