@mixin centerDiv {
  margin: auto;
  text-align: center;
}

@mixin centerElementHV {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#intro {
  @include centerDiv();
}

#LoginForm {
  @include centerDiv();
  margin-top: 1%;
  border: 2.5px solid black;
  width: 40%;
  border-radius: 6px;
}

#RegisterForm {
  @include centerDiv();
  margin-top: 1%;
  border: 2.5px solid black;
  width: 40%;
  border-radius: 6px;
}

#spinner {
  @include centerElementHV();
}

#index {
  @include centerDiv();
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  margin-left: -15em;
}

#lnk {
  font-size: 3vh;
}

#backButton {
  width: 5vh;
  height: auto;
  height: 5vh;

  &:hover {
    cursor: pointer;
    transition: 1s;
  }
}
#hme {
  @include centerDiv();
}
nav {
  border-radius: 30px;
  width: 100%;
  overflow: hidden;
  #lg {
    justify-content: end;
  }
}

@media only screen and (max-width: 768px) {
  #backButton {
    width: 5vh;
    height: 5vh;
  }
  nav {
    #lg {
      margin-left: 0vw;
    }
  }
}
